   {% load static %}
<header class="tp-header-height">
      <!-- tp-header-area-start -->
      <div id="header-sticky" class="header-bottom__area header-blur header-bottom__transparent header-bottom__plr-4 z-index-3">
         <div class="container-fluid p-0">
            <div class="row g-0 align-items-center">
               <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-6">
                  <div class="header-bottom__logo">
                     <a class="white-logo" href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo-web-2.png' %}" alt=""></a>
                     <a class="black-logo" href="{% url 'home' %}"><img src="{% static 'assets/img/logo/blue.png' %}" alt=""></a>
                  </div>
               </div>
               <div class="col-xxl-7 col-xl-7 col-lg-7 d-none d-lg-block">
                  <div class="header-bottom__main-menu header-bottom__main-menu-4">
                     <nav id="mobile-menu">
                        <ul>
                           <li>
                              <a href="{% url 'home' %}">Accueil</a>
                           </li>
                           <li>
                              <a href="#">À Propos</a>
                              <ul class="submenu">
                                 <li><a href="#">A Propos</a></li>
                                 <li><a href="#">Nos Services</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="#">Portofolio</a>
                              <ul class="submenu">
                                 <li><a href="#">Projects réalisés</a></li>
                                 <li><a href="#">Project à venir</a></li>
                              </ul>
                           </li>
                      
                           <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-8 col-6">
                  <div class="header-bottom__right d-flex align-items-center justify-content-end">

                     <div class="header-bottom__btn d-flex align-items-center">
                        <a style="background-color: orangered" class="tp-btn-orange tp-btn-hover alt-color-white d-none d-md-inline-block" href="{% url 'contact' %}">
                           <span>Contactez-nous</span>
                           <b></b>
                        </a>
                        <a class="header-bottom__bar tp-menu-bar d-lg-none" href="javascript:void(0)"><i class="fal fa-bars"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-header-area-end -->
   </header>