{% load static %}
<div class="blog-grid-inner grey-bg  pt-100 pb-50">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <div class="popular-blog-title mb-40 text-center">
                           <h4>Related Posts</h4>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="blog-details-slider-wrapper">
                           <div class="swiper-container blog-slider-active pb-50">
                              <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                    <div class="tp-blog-item">
                                       <div class="tp-blog-thumb fix">
                                          <a href="#"><img src="{% static 'assets/img/blog/blog-grid-1.jpg' %}" alt=""></a>
                                       </div>
                                       <div class="tp-blog-content">
                                          <div class="tp-blog-meta d-flex align-items-center">
                                             <div class="tp-blog-category category-color-1">
                                                <span>Crm Software</span>
                                             </div>
                                             <div class="tp-blog-date">
                                                <span>28 April, 2023</span>
                                             </div>
                                          </div>
                                          <div class="tp-blog-title-box">
                                             <a class="tp-blog-title-sm" href="#">2023 Professional Year <br> In Review</a>
                                          </div>
                                          <div class="tp-blog-author-info-box d-flex align-items-center">
                                             <div class="tp-blog-avata">
                                                <img src="{% static 'assets/img/blog/blog-avata-1.png' %}" alt="">
                                             </div>
                                             <div class="tp-blog-author-info">
                                                <h5>Hilary Ouse</h5>
                                                <span>Founder & CEO Dulalix</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="tp-blog-item">
                                       <div class="tp-blog-thumb fix">
                                          <a href="#"><img src="{% static 'assets/img/blog/blog-grid-2.jpg' %}" alt=""></a>
                                       </div>
                                       <div class="tp-blog-content">
                                          <div class="tp-blog-meta d-flex align-items-center">
                                             <div class="tp-blog-category category-color-1">
                                                <span>Crm Software</span>
                                             </div>
                                             <div class="tp-blog-date">
                                                <span>28 April, 2023</span>
                                             </div>
                                          </div>
                                          <div class="tp-blog-title-box">
                                             <a class="tp-blog-title-sm" href="#">Leveraging Feedback on <br> Insights best.</a>
                                          </div>
                                          <div class="tp-blog-author-info-box d-flex align-items-center">
                                             <div class="tp-blog-avata">
                                                <img src="assets/img/blog/blog-avata-2.png" alt="">
                                             </div>
                                             <div class="tp-blog-author-info">
                                                <h5>Hilary Ouse</h5>
                                                <span>Founder & CEO Dulalix</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="tp-blog-item">
                                       <div class="tp-blog-thumb fix">
                                          <a href="#"><img src="assets/img/blog/blog-grid-3.jpg" alt=""></a>
                                       </div>
                                       <div class="tp-blog-content">
                                          <div class="tp-blog-meta d-flex align-items-center">
                                             <div class="tp-blog-category category-color-1">
                                                <span>Crm Software</span>
                                             </div>
                                             <div class="tp-blog-date">
                                                <span>28 April, 2023</span>
                                             </div>
                                          </div>
                                          <div class="tp-blog-title-box">
                                             <a class="tp-blog-title-sm" href="#">Project Management at <br> Your fingertips.</a>
                                          </div>
                                          <div class="tp-blog-author-info-box d-flex align-items-center">
                                             <div class="tp-blog-avata">
                                                <img src="assets/img/blog/blog-avata-3.png" alt="">
                                             </div>
                                             <div class="tp-blog-author-info">
                                                <h5>Hilary Ouse</h5>
                                                <span>Founder & CEO Dulalix</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="tp-blog-item">
                                       <div class="tp-blog-thumb fix">
                                          <a href="#"><img src="assets/img/blog/blog-grid-2.jpg" alt=""></a>
                                       </div>
                                       <div class="tp-blog-content">
                                          <div class="tp-blog-meta d-flex align-items-center">
                                             <div class="tp-blog-category category-color-1">
                                                <span>Crm Software</span>
                                             </div>
                                             <div class="tp-blog-date">
                                                <span>28 April, 2023</span>
                                             </div>
                                          </div>
                                          <div class="tp-blog-title-box">
                                             <a class="tp-blog-title-sm" href="#">Leveraging Feedback on <br> Insights best.</a>
                                          </div>
                                          <div class="tp-blog-author-info-box d-flex align-items-center">
                                             <div class="tp-blog-avata">
                                                <img src="assets/img/blog/blog-avata-2.png" alt="">
                                             </div>
                                             <div class="tp-blog-author-info">
                                                <h5>Hilary Ouse</h5>
                                                <span>Founder & CEO Dulalix</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>